.quizForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;

  .questionBtns {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 450px) {
  .quizForm {
    box-shadow: none;
    padding: 0;
  }
}